.profile-header > p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.25rem;
}

.profile-header > .link-container > a {
  background-color: var(--blue-4);
  color: var(--white);
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
}

.profile-header > .link-container > a:hover {
  background-color: var(--blue-2);
}

.booked-events-container {
  margin-bottom: 3rem;
}

.booked-events-container > p {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.booked-events {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booked-events > ul {
  list-style-type: none;
}

.booked-events > ul > li {
  display: flex;
  gap: 6rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-7);
}

.booked-events > ul > li > a,
.page-block > p > a {
  text-decoration: none;
  color: var(--blue-4);
  font-weight: 700;
}

.page-block > p {
  text-align: center;
  margin-top: 3rem;
}
