.footer {
  background-color: var(--gray-17);
  padding: 2rem 0;
}

.footer-boxes {
  max-width: 1200px;
  width: 100%;
  margin: 0rem auto;
  padding: 2rem 0 12rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.footer-lists {
  list-style-type: none;
}

.footer-list-first {
  font-size: 1.7rem;
}

.footer-list {
  margin-bottom: 1rem;
}

.footer-list-first {
  margin-bottom: 2rem;
}

.footer-link {
  color: var(--gray-7);
  text-decoration: none;
}

.footer-caption {
  text-align: center;
  color: var(--gray-7);
  padding: 2rem 0 0rem 0;
}

.newsletter {
  max-width: 1200px;
  width: 100%;
  margin: 0rem auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter > .left > h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.newsletter > .left > p {
  color: var(--gray-7);
}

.newsletter > .right > input[type="email"],
.newsletter > .right > input[type="submit"] {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-4);
}

.newsletter > .right > input[type="submit"] {
  cursor: pointer;
  background-color: var(--blue-4);
  color: var(--white);
  font-weight: 700;
}

@media screen and (max-width: 1274px) {
  .footer-boxes {
    max-width: 900px;
  }
}

@media screen and (max-width: 996px) {
  .footer-boxes {
    max-width: 500px;
  }
}

@media screen and (max-width: 555px) {
  .footer-boxes {
    max-width: 300px;
  }
  .footer-list-first {
    font-size: 1.4rem;
  }
}
